.button.jsx-441677069  {
    background-color: rgb(230, 16, 16);
}
.button {
    background-color: rgb(230, 16, 16);
}

.ant-tree-node-selected{
    background-color:#FEE300 !important
}

.pdf{
	/* background-color: beige; */
	border: 1px solid red;

	margin: 0;
	padding: 20px;
	overflow: auto;
	display: flex;
	flex-direction: row;
	/* height: 700px; */
}