.button.jsx-441677069 {
    background-color: rgb(230, 16, 16);
}
.button {
    background-color: rgb(230, 16, 16);
}

.ant-tree-node-selected {
    background-color: #fee300 !important;
}

table {
    /* overflow: visible !important; */
    border-spacing: 0;
    border-collapse: "collapse";
}
/* thead {
    display: table-header-group;
}
tfoot {
    display: table-row-group;
}
tr {
    page-break-inside: avoid;
} */

/* table,
th,
tr,
td {
    page-break-inside: avoid;
    page-break-after: auto;
} */

/* @media all {
    .page-break {
        display: none;
    }
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }
} */
