header.hidden {
    display: none;
}

.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
}

/** Paper sizes **/
body.A3 .sheet {
    width: 297mm;
    height: 419mm;

    /* min-width: 297mm;
    max-width: 297mm;
    min-height: 419mm;
    max-height: 419mm; */
}
body.A3.landscape .sheet {
    width: 420mm;
    height: 296mm;

    /* min-width: 420mm;
    max-width: 420mm;
    min-height: 296mm;
    max-height: 296mm; */
}
body.A4 .sheet {
    width: 210mm;
    height: 297mm;

    /* min-width: 210mm;
    max-width: 210mm;
    min-height: 296mm;
    max-height: 296mm; */
}
body.A4.landscape .sheet {
    width: 297mm;
    height: 210mm;

    /* min-width: 297mm;
    max-width: 297mm;
    min-height: 209mm;
    max-height: 209mm; */
}
body.A5 .sheet {
    width: 148mm;
    height: 209mm;

    /* min-width: 148mm;
    max-width: 148mm;
    min-height: 209mm;
    max-height: 209mm; */
}
body.A5.landscape .sheet {
    width: 210mm;
    height: 147mm;

    /* min-width: 210mm;
    max-width: 210mm;
    min-height: 147mm;
    max-height: 147mm; */
}
body.letter .sheet {
    width: 216mm;
    height: 279mm;

    /* min-width: 216mm;
    max-width: 216mm;
    min-height: 279mm;
    max-height: 279mm; */
}
body.letter.landscape .sheet {
    width: 280mm;
    height: 215mm;

    /* min-width: 280mm;
    max-width: 280mm;
    min-height: 215mm;
    max-height: 215mm; */
}
body.legal .sheet {
    width: 216mm;
    height: 356mm;

    /* min-width: 216mm;
    max-width: 216mm;
    min-height: 356mm;
    max-height: 356mm; */
}
body.legal.landscape .sheet {
    width: 357mm;
    height: 215mm;

    /* min-width: 357mm;
    max-width: 357mm;
    min-height: 215mm;
    max-height: 215mm; */
}

/** Padding area **/
.sheet.padding-10mm {
    padding: 10mm;
}
.sheet.padding-15mm {
    padding: 15mm;
}
.sheet.padding-20mm {
    padding: 20mm;
}
.sheet.padding-25mm {
    padding: 25mm;
}

/** For screen preview **/
@media screen {
    body {
        background: #e0e0e0;
    }
    .sheet {
        background: white;
        box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
        margin: 5mm auto;
    }
}

/** Fix for Chrome issue #273306 **/
@media print {
    body.A3.landscape {
        width: 420mm;
    }
    body.A3,
    body.A4.landscape {
        width: 297mm;
    }
    body.A4,
    body.A5.landscape {
        width: 210mm;
    }
    body.A5 {
        width: 148mm;
    }
    body.letter,
    body.legal {
        width: 216mm;
    }
    body.letter.landscape {
        width: 280mm;
    }
    body.legal.landscape {
        width: 357mm;
    }
}

@page {
    margin: 0;
}
